body {
  background-color: rgb(rgb(236, 156, 6), green, blue)
}

header {
  display: flex;
  height: 70px;
  background-color: coral;

}

header img {

  background-color: coral;
  height: 70px;
}

#nav_bar {
  display: flex;
  height: 70px;
  list-style-type: none;
  border-radius: 15px;
  padding: 0%;

}

.navBar {
  display: flex;
  align-items: center;
  padding: 0%;
  
  
}

.navBar li {

  box-sizing: border-box;
  display: inline;
  padding: 10px;
  margin: 2px;
  border: 1px solid;
  border-color: ;
}