.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;


}


main {
  display: flex;
  flex: 1;
  width: 100%;

}


body {
  background-color: rgb(30, 157, 161);
  flex: 1;

}

#landing {
  display: flex;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: center;
  
}

header {
  display: flex;
  height: 70px;
  background-color: rgb(30, 157, 161)
}

header img {

  background-color: coral;
  height: 70px;


}

#nav_bar {
  display: flex;
  height: 70px;
  list-style-type: none;
  padding: 0%;
  border-bottom: 1px solid black;
  width: 100%;
  justify-content: space-between;


}

.navBar {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0%;
  margin-left: 10px;
  width: 33%;




}

.navBar li {

  box-sizing: border-box;
  display: inline;
  padding: 10px;
  margin: 2px;
  border: 1px solid;
  border-color: black;
  border-radius: 15px;
  background-color: rgb(186, 212, 236);
}

#boton_login-register {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-right: 10px;
  border: 1px solid black;
  background-color: rgb(43, 94, 128);
  color: white;
  cursor: pointer;


}

#carrouselDeRecetas {
  background-color: rgb(30, 157, 161);
  height: 400px;
  padding-left: 20px;
}

#footer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  background-color: rgb(186, 212, 236);
  width: 100%;
  padding: 25px;




}

#redes-soc {
  display: flex;
  flex-direction: column;
  height: 100%;

}

#texto-redes-soc {
  flex: 1;
  background-color: black;
  color: white;
  max-width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid black;



}

#iconos-redes {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 30px;
  justify-content: space-around;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid;
  cursor: pointer;
}

#iconos-redes img {
  height: 100%;
}

#iconos-redes img {
  height: 100%;
}

#subs-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: rgb(112, 115, 117);
  padding: 20px;
  color: white;
  border-radius: 15px;
  max-height: 180px;

}

.sub {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub p {
  margin: 0;
}

#sub-button:hover {
  cursor: pointer;
}

#div-searchbar {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 33%;
  margin: 15px;



}

#searchbar {
  display: flex;
  flex: 1;
  height: 35px;
  border: 1px solid black;

}



#div-icono-lupa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

}

#div-icono-lupa img {

  height: 16px;
  width: 16px;

}

#div-icono-lupa :hover {
  cursor: pointer;
}

.p-dialog-content {
  display: flex;
  flex-direction: column;

}

.p-dialog-content button {
  display: flex;
  flex: 1;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#pr_id_2 {
  font-size: large;
  max-height: 400px;
  max-width: 400px;
  flex: 1;
}

.header-visor {
  margin-top: 30px;
  min-width: 80%;
  max-width: 80%;
  background-color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1cm;
  align-items: center;
}

.header-visor p {
  margin-left: 40px;
  
}

#fecha-publicacion {
  margin-top: 5px;
}

.imagen-receta {
  margin-top: 25px;
  margin-left: 40px;
}

.imagen-receta img {
  max-width: 300px;
  max-height: 300px;
}

#titulo-ingredientes {
  padding-left: 20px;
  margin-left: 25px;
  margin-top: 15px;
}

.lista-ingredientes {
  background-color: white;
  border-radius: 15px;
  margin: 40px;
  padding: 10px;
  
}

.lista-ingredientes ul li {


  margin: 20px;
}

.preparacion {
  background-color: white;
  border-radius: 15px;
  margin: 40px;
  padding: 10px;
  width: 80%;
}

#titulo-preparacion {
  padding-left: 20px;
  margin-left: 25px;
  margin-top: 15px;
}

.preparacion ol li {
  margin: 20px;

}

.rating {

  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin: 40px;
  padding: 20px;
  width: fit-content;
}

#boton-nuevaReceta {
  text-decoration: none;
  color: black;
}

#div-nueva-receta {
  display: flex;
  width: 100%;
}

.nueva-receta {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 10%;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
}

.añadir-div {
  flex: 1;
  background-color: aquamarine;
  font-size: large;
  border: none;
  margin-left: 5px;
  width: 33%;
  border-radius: 5px;
  align-self: center;

}

.div-preparacion {
  display: flex;
  flex-direction: column;
}

.input-nuevaReceta {
  flex: 1;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  max-width: 100%;
  min-width: 200px;

}

#form-nuevaReceta {
  display: flex;
  flex-direction: column;
}

#div-input-ingredientes {
  display: flex;
}

#list-item-preparacion {
  display: flex;
}

#div-Error404 {
  display: flex;
  flex: 1;
}

#Cartel-Error404 {
  display: flex;
  flex: 1;
  background-color: white;
  margin: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  border: 3px rgba(2, 0, 2, 0.849) solid
}

.menu-footer {
  text-decoration: none;
  color: white;
}

.subs-form-footer {
  padding: 20px;
  background-color: rgb(112, 115, 117);
  border-radius: 15px;
  max-height: 180px;
}

.lorem-ipsum-footer {
  text-decoration: none;
  color: black;
}

.Titulo-login {
  padding: 10px;
  background-color: rgb(30, 157, 161);
  color: white;
  border-radius: 15px;
  text-align: center;
}




#div-gral-ListaRecetas {
  flex: 1;
  width: 100%;
  height: 100%;
}

#contenedor-de-filtros-y-recetas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#div-filtros {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: white;
  width: 20%;
  margin-right: 20px;


}

#dashboard-de-recetas {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  grid-template-rows: 180px 180px 180px 180px;
  margin: 30px;
  padding: 30px;
  width: 100%;
  background-color: lightgrey;
  justify-content: space-around;
  gap: 15px;

}

.card-receta {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  max-height: 250px;
  max-width: 180px;

}

.card-imagenReceta {
  display: flex;

  height: 66%;
}

.card-imagenReceta img {
  flex: 1;
  height: 100%;
  width: 100%;
}

.card-tituloReceta {
  display: flex;
  background-color: black;
  height: 34%;
  color: white;
  align-items: center;
  justify-content: center;
}

.linkReceta {
  text-decoration: none;
}

.contenedorRecetas {
  display: flex;
  flex: 1;
}

#sk-foto {
  margin-top: 25px;
  margin-left: 40px;
}

#sk-ingredientes {
  margin: 40px;
  
}

#sk-titulo{
  margin-left: 40px;
}

#sk-preparacion{
  margin:40px;
}

.card{
  align-items: center;
  justify-content: center;
}

.boton-editar-receta{
  background-color: gray;
  border-radius: 15px;
  margin-left: 40px;

}