main {
  flex:1
}

body {
  background-color: rgb(30, 157, 161);
}

header {
  display: flex;
  height: 70px;
  background-color: rgb(30, 157, 161)
}

header img {

  background-color: coral;
  height: 70px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;

}

#nav_bar {
  display: flex;
  height: 70px;
  list-style-type: none;
  padding: 0%;
  border-bottom: 1px solid black;
  width: 100%;
  justify-content: space-between;

}

.navBar {
  display: flex;
  align-items: center;
  padding: 0%;
  margin-left: 10px;
  cursor: pointer;



}

.navBar li {

  box-sizing: border-box;
  display: inline;
  padding: 10px;
  margin: 2px;
  border: 1px solid;
  border-color: black;
  border-radius: 15px;
  background-color: rgb(186, 212, 236);
}

#boton_login-register {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-right: 10px;
  border: 1px solid black;
  background-color: rgb(43, 94, 128);
  color: white;
  cursor: pointer;


}

#carrouselDeRecetas {
  background-color: rgb(30, 157, 161);
  height: 400px;
  padding-left: 20px;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(186, 212, 236);
  width: 100%;
  padding: 25px;
}

#redes-soc {
  display: flex;
  flex-direction: column;
  height: 100%;

}

#texto-redes-soc {
  flex: 1;
  background-color: black;
  color: white;
  max-width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid black;



}

#iconos-redes {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 30px;
  justify-content: space-around;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid;
  cursor: pointer;
}

#iconos-redes img {
  height: 100%;
}

#iconos-redes img {
  height: 100%;
}

#subs-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: rgb(112, 115, 117);
  padding: 20px;
  color: white;
  border-radius: 15px;

}

.sub {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub p {
  margin: 0;
}

#sub-button:hover {
  cursor: pointer;
}

#searchbar {
  display: flex;
  height: 35px;
  width: 33%;
  border: 1px solid black;

}

#div-searchbar {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  
}

#div-icono-lupa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

}

#div-icono-lupa img {

  height: 16px;
  width: 16px;

}

.p-dialog-content {
  display: flex;
  flex-direction: column;

}

.p-dialog-content button {
  display: flex;
  flex: 1;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#pr_id_2 {
  font-size: large;
  max-height: 400px;
  max-width: 400px;
  flex: 1;
}